.App{
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto, 1fr, auto;
  grid-template-areas: 'header', 'main', 'footer';
  height: 100vh;
}
.App header, main, footer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App header{
  height: 120px;
  grid-area: 'header';
}
.App__title{
  background-color: aquamarine;
}
.App__filter{
  width:50%;
}
.Filter__name{
  width:100%;
}
.App main{
  grid-area: 'main';
  width: 100%;
  background-color: brown;
}
.List{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.List__item{
  list-style: none;
  height: 200px;
  width: 200px;
}
.List__item-card{
  height: 100%;
}
.Card__header{
  position: relative;
  height: 60%;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
}
.Card__id{
  position: absolute;
  bottom: 0;
  left: 0;
}
.Card__img{
  
  height: 100%;
}
.Card__body{
  height: 40%;
  background-color: cadetblue;
}
.Card__title{
  margin: 0;
}
.Card__chips{
  margin: 0;
}
.Card__chips-list{
  display: flex;
  flex-direction: row;
  padding: 0;
}
.Chips__list-item{
  list-style: none;
}
.Chips__list-item h3{
  margin: 0 3px;
}
.App footer{
  width: 100%;
  grid-area: 'footer';
  height: 50px;
  background-color: rgb(238, 247, 202);
  position: relative;
  bottom: 0;
}